# Ignore node_modules
node_modules/

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore the entire .next directory (build artifacts, cache files, etc.)
.next/

# Ignore package-lock.json
package-lock.json
Dockerfile
package-lock.json
types/dotenv.d.ts
