@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
:root {
    --font-geist-sans: 'GeistSans', sans-serif; /* Use a generic fallback */
    --font-geist-mono: 'GeistMono', monospace; /* Use a generic fallback */
  }
  
  [class*="functionFormWrap"], [class*="appsHeaderTitle"], [class*="searchContainer"] input, [class*="appCardTitle"], [class*="appCardAuthStatus"] {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.nextjs-toast {
  display: none;
}
